## Exploratory Analysis using Jupyter Notebook
For further reading, we recommend: 
- [the pandas documentation](http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#getting)  for information about using DataFrames
- [this blog post](https://towardsdatascience.com/introduction-to-data-visualization-in-python-89a54c97fbed) for a jumpstart into visualizations
- [the matplotlib documentation](https://matplotlib.org/users/pyplot_tutorial.html) for more info about visualizations

In [5]:
import pandas as pd

#### Loading data from our GPC bucket

In [6]:
import s3fs
s3 = s3fs.S3FileSystem(anon=True)
s3.ls('twde-datalab/raw')

s3.get('twde-datalab/raw/quito_stores_sample2016-2017.csv', 
       '../data/quito_stores_sample2016-2017.csv')

In [23]:
s3.get('twde-datalab/raw/items.csv', 
       '../data/items.csv')

In [27]:
s3.get('twde-datalab/raw/oil.csv', 
       '../data/oil.csv')

In [28]:
s3.get('twde-datalab/raw/stores.csv', 
       '../data/stores.csv')

In [24]:
items = pd.read_csv('../data/items.csv')

In [7]:
train = pd.read_csv('../data/quito_stores_sample2016-2017.csv')

In [8]:
train.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster
0,88211471,2016-08-16,44,103520,7.0,True,Quito,Pichincha,5
1,88211472,2016-08-16,44,103665,7.0,False,Quito,Pichincha,5
2,88211473,2016-08-16,44,105574,13.0,False,Quito,Pichincha,5
3,88211474,2016-08-16,44,105575,18.0,False,Quito,Pichincha,5
4,88211475,2016-08-16,44,105577,8.0,False,Quito,Pichincha,5

In [25]:
items.sample()

      item_nbr         family  class  perishable
3170   1924591  PERSONAL CARE   4126           0

In [26]:
train.sample()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster
3684762,111318907,2017-04-03,44,1366213,1.0,False,Quito,Pichincha,5

In [36]:


joined_table = train.merge(items, how='left', on='item_nbr')
joined_table.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster,family,class,perishable
0,88211471,2016-08-16,44,103520,7.0,True,Quito,Pichincha,5,GROCERY I,1028,0
1,88211472,2016-08-16,44,103665,7.0,False,Quito,Pichincha,5,BREAD/BAKERY,2712,1
2,88211473,2016-08-16,44,105574,13.0,False,Quito,Pichincha,5,GROCERY I,1045,0
3,88211474,2016-08-16,44,105575,18.0,False,Quito,Pichincha,5,GROCERY I,1045,0
4,88211475,2016-08-16,44,105577,8.0,False,Quito,Pichincha,5,GROCERY I,1045,0

In [38]:
joined_table[joined_table['perishable'] == 1].head(3)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster,family,class,perishable
1,88211472,2016-08-16,44,103665,7.0,False,Quito,Pichincha,5,BREAD/BAKERY,2712,1
10,88211481,2016-08-16,44,108696,8.0,True,Quito,Pichincha,5,DELI,2636,1
11,88211482,2016-08-16,44,108698,6.0,True,Quito,Pichincha,5,DELI,2644,1

In [45]:
joined_table[joined_table['perishable'] == 1]['family'].unique()

array(['BREAD/BAKERY', 'DELI', 'POULTRY', 'DAIRY', 'EGGS', 'MEATS',
       'SEAFOOD', 'PREPARED FOODS', 'PRODUCE'], dtype=object)

In [47]:
joined_table[joined_table['unit_sales'] >6000]

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster,family,class,perishable
4963964,119589402,2017-06-20,47,1430040,6932.0,False,Quito,Pichincha,14,BEVERAGES,1120,0

#### With just this glimpse, you can start to fill out your list of assumptions, hypotheses, and questions. Some of mine are:
- Question: What is the span of dates we are provided?
- Question: How many distinct store_nbr values are there?
- Question: How many distinct item_nbr values are there?
- Hypothesis: unit_sales are always positive
- Hypothesis: onpromotion is always either True or False
- Hypothesis: city and state are always going to be Quito and Pichincha
- Hypothesis: cluster is always 5
- Question: What does cluster mean and is it important to know?
- Question: How many records does the data contain?
- Question: What other data files are available?

In [46]:
joined_table.groupby(by='family').describe()

                                   id                                          \
                                count          mean           std         min
family
AUTOMOTIVE                    16417.0  1.071236e+08  1.072890e+07  88211512.0
BEAUTY                        12878.0  1.056564e+08  1.081241e+07  88212520.0
BEVERAGES                    929349.0  1.066513e+08  1.079403e+07  88211511.0
BOOKS                           806.0  1.031419e+08  6.840781e+06  93303972.0
BREAD/BAKERY                 208773.0  1.065509e+08  1.085511e+07  88211472.0
CELEBRATION                   27607.0  1.061921e+08  1.070613e+07  88213602.0
CLEANING                     660507.0  1.065872e+08  1.083415e+07  88211484.0
DAIRY                        431663.0  1.066334e+08  1.082013e+07  88211513.0
DELI                         154831.0  1.067372e+08  1.084027e+07  88211481.0
EGGS                          63580.0  1.066482e+08  1.082674e+07  88211519.0
FROZEN FOODS                  74925.0  1.062441e+08  1.076417e+07  88211583.0
GROCERY I                   1943888.0  1.066541e+08  1.080931e+07  88211471.0
GROCERY II                    14625.0  1.074300e+08  1.085351e+07  88211556.0
HARDWARE                       2788.0  1.077558e+08  1.054477e+07  88212277.0
HOME AND KITCHEN I            39223.0  1.061860e+08  1.085004e+07  88213161.0
HOME AND KITCHEN II           31029.0  1.071749e+08  1.073015e+07  88213152.0
HOME APPLIANCES                1159.0  1.091303e+08  9.483542e+06  88211630.0
HOME CARE                    165163.0  1.066318e+08  1.081575e+07  88213276.0
LADIESWEAR                    24191.0  1.066552e+08  1.081271e+07  88213631.0
LAWN AND GARDEN               17539.0  1.093933e+08  9.702606e+06  88212438.0
LINGERIE                       8134.0  1.064865e+08  1.081558e+07  88211958.0
LIQUOR,WINE,BEER              56822.0  1.063238e+08  1.087653e+07  88212097.0
MAGAZINES                      9203.0  1.065052e+08  1.105682e+07  88213275.0
MEATS                        107294.0  1.063988e+08  1.087396e+07  88211573.0
PERSONAL CARE                220343.0  1.064838e+08  1.077051e+07  88211494.0
PET SUPPLIES                  18685.0  1.068124e+08  1.067288e+07  88213513.0
PLAYERS AND ELECTRONICS       21613.0  1.080804e+08  1.047347e+07  88213598.0
POULTRY                       90310.0  1.066627e+08  1.081603e+07  88211486.0
PREPARED FOODS                28201.0  1.042459e+08  1.024727e+07  88211663.0
PRODUCE                      472188.0  1.065692e+08  1.087628e+07  88212788.0
SCHOOL AND OFFICE SUPPLIES     9561.0  1.063871e+08  1.246240e+07  88213590.0
SEAFOOD                       14023.0  1.064995e+08  1.094185e+07  88211631.0

                                                                     \
                                     25%          50%           75%
family
AUTOMOTIVE                  9.790147e+07  107324324.0  1.164053e+08
BEAUTY                      9.615154e+07  104708947.0  1.148018e+08
BEVERAGES                   9.721156e+07  106596991.0  1.159741e+08
BOOKS                       9.731303e+07  102205811.5  1.077482e+08
BREAD/BAKERY                9.701881e+07  106489419.0  1.159695e+08
CELEBRATION                 9.683108e+07  105979849.0  1.152360e+08
CLEANING                    9.711993e+07  106486653.0  1.159730e+08
DAIRY                       9.712769e+07  106584819.0  1.159730e+08
DELI                        9.729951e+07  106704533.0  1.161678e+08
EGGS                        9.720897e+07  106494991.5  1.159797e+08
FROZEN FOODS                9.702102e+07  105664228.0  1.155540e+08
GROCERY I                   9.721359e+07  106591076.5  1.159770e+08
GROCERY II                  9.800171e+07  107738454.0  1.169277e+08
HARDWARE                    9.881338e+07  108231351.0  1.169515e+08
HOME AND KITCHEN I          9.693768e+07  105130971.0  1.155492e+08
HOME AND KITCHEN II         9.800261e+07  107535333.0  1.164008e+08
HOME APPLIANCES             1.031465e+08  110061293.0  1.165591e+08
HOME CARE                   9.721215e+07  106584102.0  1.159791e+08
LADIESWEAR                  9.721245e+07  106595251.0  1.160758e+08
LAWN AND GARDEN             1.022073e+08  109754921.0  1.175677e+08
LINGERIE                    9.721520e+07  106293467.5  1.156528e+08
LIQUOR,WINE,BEER            9.702835e+07  105670689.5  1.158693e+08
MAGAZINES                   9.673555e+07  106491832.0  1.159813e+08
MEATS                       9.683538e+07  106186704.5  1.157666e+08
PERSONAL CARE               9.711448e+07  106389286.0  1.156601e+08
PET SUPPLIES                9.761972e+07  106811931.0  1.158742e+08
PLAYERS AND ELECTRONICS     9.964897e+07  108602701.0  1.170343e+08
POULTRY                     9.721441e+07  106586635.5  1.160680e+08
PREPARED FOODS              9.552256e+07  103360788.0  1.114284e+08
PRODUCE                     9.702957e+07  106386462.5  1.160705e+08
SCHOOL AND OFFICE SUPPLIES  9.398895e+07  107005952.0  1.170398e+08
SEAFOOD                     9.672064e+07  106395943.0  1.159692e+08

                                         store_nbr             ...   class  \
                                    max      count       mean  ...     75%
family                                                         ...
AUTOMOTIVE                  125486510.0    16417.0  46.324846  ...  6824.0
BEAUTY                      125486907.0    12878.0  46.421572  ...  4254.0
BEVERAGES                   125486924.0   929349.0  46.462867  ...  1142.0
BOOKS                       124551094.0      806.0  46.276675  ...  5192.0
BREAD/BAKERY                125486593.0   208773.0  46.458191  ...  2718.0
CELEBRATION                 125486321.0    27607.0  46.449270  ...  5324.0
CLEANING                    125486920.0   660507.0  46.457847  ...  3034.0
DAIRY                       125486915.0   431663.0  46.483977  ...  2170.0
DELI                        125486781.0   154831.0  46.497840  ...  2644.0
EGGS                        125486528.0    63580.0  46.447043  ...  2502.0
FROZEN FOODS                125486716.0    74925.0  46.469790  ...  2228.0
GROCERY I                   125486926.0  1943888.0  46.466114  ...  1062.0
GROCERY II                  125486847.0    14625.0  46.470154  ...  1236.0
HARDWARE                    125485011.0     2788.0  46.277618  ...  6706.0
HOME AND KITCHEN I          125486579.0    39223.0  46.219336  ...  6260.0
HOME AND KITCHEN II         125486621.0    31029.0  46.343227  ...  6352.0
HOME APPLIANCES             125376468.0     1159.0  46.308887  ...  6155.0
HOME CARE                   125486893.0   165163.0  46.485641  ...  3110.0
LADIESWEAR                  125486216.0    24191.0  46.374726  ...  7780.0
LAWN AND GARDEN             125486807.0    17539.0  46.425167  ...  6936.0
LINGERIE                    125486078.0     8134.0  46.212073  ...  7034.0
LIQUOR,WINE,BEER            125486927.0    56822.0  46.434110  ...  1330.0
MAGAZINES                   125486630.0     9203.0  46.421819  ...  5244.0
MEATS                       125486339.0   107294.0  46.472021  ...  2304.0
PERSONAL CARE               125486843.0   220343.0  46.479879  ...  4138.0
PET SUPPLIES                125486099.0    18685.0  46.412416  ...  6517.0
PLAYERS AND ELECTRONICS     125486483.0    21613.0  46.440013  ...  5446.0
POULTRY                     125486782.0    90310.0  46.488617  ...  2420.0
PREPARED FOODS              125486888.0    28201.0  46.475302  ...  2986.0
PRODUCE                     125486914.0   472188.0  46.484942  ...  2026.0
SCHOOL AND OFFICE SUPPLIES  125486860.0     9561.0  46.265767  ...  6448.0
SEAFOOD                     125485671.0    14023.0  46.463952  ...  2854.0

                                   perishable                                \
                               max      count mean  std  min  25%  50%  75%
family
AUTOMOTIVE                  6848.0    16417.0  0.0  0.0  0.0  0.0  0.0  0.0
BEAUTY                      4255.0    12878.0  0.0  0.0  0.0  0.0  0.0  0.0
BEVERAGES                   1190.0   929349.0  0.0  0.0  0.0  0.0  0.0  0.0
BOOKS                       5192.0      806.0  0.0  0.0  0.0  0.0  0.0  0.0
BREAD/BAKERY                2786.0   208773.0  1.0  0.0  1.0  1.0  1.0  1.0
CELEBRATION                 5325.0    27607.0  0.0  0.0  0.0  0.0  0.0  0.0
CLEANING                    3090.0   660507.0  0.0  0.0  0.0  0.0  0.0  0.0
DAIRY                       2178.0   431663.0  1.0  0.0  1.0  1.0  1.0  1.0
DELI                        2690.0   154831.0  1.0  0.0  1.0  1.0  1.0  1.0
EGGS                        2506.0    63580.0  1.0  0.0  1.0  1.0  1.0  1.0
FROZEN FOODS                2246.0    74925.0  0.0  0.0  0.0  0.0  0.0  0.0
GROCERY I                   1096.0  1943888.0  0.0  0.0  0.0  0.0  0.0  0.0
GROCERY II                  1236.0    14625.0  0.0  0.0  0.0  0.0  0.0  0.0
HARDWARE                    6706.0     2788.0  0.0  0.0  0.0  0.0  0.0  0.0
HOME AND KITCHEN I          6269.0    39223.0  0.0  0.0  0.0  0.0  0.0  0.0
HOME AND KITCHEN II         6393.0    31029.0  0.0  0.0  0.0  0.0  0.0  0.0
HOME APPLIANCES             6155.0     1159.0  0.0  0.0  0.0  0.0  0.0  0.0
HOME CARE                   3116.0   165163.0  0.0  0.0  0.0  0.0  0.0  0.0
LADIESWEAR                  7780.0    24191.0  0.0  0.0  0.0  0.0  0.0  0.0
LAWN AND GARDEN             6960.0    17539.0  0.0  0.0  0.0  0.0  0.0  0.0
LINGERIE                    7034.0     8134.0  0.0  0.0  0.0  0.0  0.0  0.0
LIQUOR,WINE,BEER            1387.0    56822.0  0.0  0.0  0.0  0.0  0.0  0.0
MAGAZINES                   5250.0     9203.0  0.0  0.0  0.0  0.0  0.0  0.0
MEATS                       2372.0   107294.0  1.0  0.0  1.0  1.0  1.0  1.0
PERSONAL CARE               4176.0   220343.0  0.0  0.0  0.0  0.0  0.0  0.0
PET SUPPLIES                6517.0    18685.0  0.0  0.0  0.0  0.0  0.0  0.0
PLAYERS AND ELECTRONICS     5446.0    21613.0  0.0  0.0  0.0  0.0  0.0  0.0
POULTRY                     2420.0    90310.0  1.0  0.0  1.0  1.0  1.0  1.0
PREPARED FOODS              2986.0    28201.0  1.0  0.0  1.0  1.0  1.0  1.0
PRODUCE                     2074.0   472188.0  1.0  0.0  1.0  1.0  1.0  1.0
SCHOOL AND OFFICE SUPPLIES  6482.0     9561.0  0.0  0.0  0.0  0.0  0.0  0.0
SEAFOOD                     2864.0    14023.0  1.0  0.0  1.0  1.0  1.0  1.0


                            max
family
AUTOMOTIVE                  0.0
BEAUTY                      0.0
BEVERAGES                   0.0
BOOKS                       0.0
BREAD/BAKERY                1.0
CELEBRATION                 0.0
CLEANING                    0.0
DAIRY                       1.0
DELI                        1.0
EGGS                        1.0
FROZEN FOODS                0.0
GROCERY I                   0.0
GROCERY II                  0.0
HARDWARE                    0.0
HOME AND KITCHEN I          0.0
HOME AND KITCHEN II         0.0
HOME APPLIANCES             0.0
HOME CARE                   0.0
LADIESWEAR                  0.0
LAWN AND GARDEN             0.0
LINGERIE                    0.0
LIQUOR,WINE,BEER            0.0
MAGAZINES                   0.0
MEATS                       1.0
PERSONAL CARE               0.0
PET SUPPLIES                0.0
PLAYERS AND ELECTRONICS     0.0
POULTRY                     1.0
PREPARED FOODS              1.0
PRODUCE                     1.0
SCHOOL AND OFFICE SUPPLIES  0.0
SEAFOOD                     1.0

[32 rows x 56 columns]

### Here's some examples of how to address those first questions

In [9]:
# Access an entire dataframe column like you would
# the value in a python dictionary:
# (The returned object has similar pandas built-in 
# functions, like 'head' and 'max')
data = train
print(data['date'].min())
print(data['date'].max())

2016-08-16
2017-08-15

In [10]:
# Dataframe columns also have a 'unique' method,
# which can answer several of our questions from above
data['store_nbr'].unique()

array([44, 45, 46, 47, 48, 49])

In [11]:
print(data['item_nbr'].unique())
print("There are too many item numbers to display, so let's just count them for now:")
print("\n{} different item_nbr values in our data"
          .format(len(data['item_nbr'].unique())))

[ 103520  103665  105574 ... 2011468 2011448 2123839]
There are too many item numbers to display, so let's just count them for now:

3717 different item_nbr values in our data

#### It might be helpful to know the 'shape' of our data. We could count by hand (for now) the columns, but how many rows do we have altogether?

In [12]:
print(data.shape)
print("There are {} rows and {} columns in our data".format(data.shape[0], data.shape[1]))

(5877318, 9)
There are 5877318 rows and 9 columns in our data

#### Moving along to answer our intial questions... Let's have a look at unit_sales. Keep in mind that unit sales is the variable we want to predict with our science.

Each row in our data is essentially telling us a `unit_sales` number for a given `item_nbr` at a given `store_nbr` on a given `date`. That is, "how many of an item was sold at a store on a day".

In [13]:
data['cluster'].unique()

array([ 5, 11, 14])

In [14]:
data['onpromotion'].unique()

array([ True, False])

In [17]:
[{n: len(data[data['cluster'] == n])} for n in data['cluster'].unique()]

[{5: 1014154}, {11: 1983536}, {14: 2879628}]

In [18]:
[{n: len(data[data['cluster'] == n]['store_nbr'])} for n in data['cluster'].unique()]

[{5: 1014154}, {11: 1983536}, {14: 2879628}]

In [19]:
data['city'].unique()

array(['Quito'], dtype=object)

In [20]:
data['store_nbr'].unique()

array([44, 45, 46, 47, 48, 49])

In [22]:
[{n: data[data['cluster'] == n]['store_nbr'])} for n in data['cluster'].unique()]

SyntaxError: invalid syntax (<ipython-input-22-054a90315209>, line 1)